.my-icon{
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 30px;
}


.MenuBar{
    background: white;
    height: 100%;
    font-family: 'Inter' , sans-serif;
}



.my-navlink{
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    text-align: start;
    padding-left: 15px;
}

.accor-header{
    text-align: start;
    padding: 0;
    font-size: 16px;
}


.name{
    font-size: 30px;
    font-weight: 600;
}