.App {
  background-color: #E5E5E5;
  
  
    

}
.content{
  background: 
  url(/src/Assets/images/frame.png) top no-repeat fixed ;
  background-size: 100%;
  
}
.toolbar{
  border-radius: 10px;
  margin: 30px 15px;
  background: white;
  padding: 10px;
  
}

